
body {
    background: linear-gradient(-45deg, #8b2d8b, #5931bc, #1a83c5, #16a8a3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
font-family: 'Montserrat Alternates', sans-serif;
}

#ucla-list {
    list-style-type: none;
    margin: 0px; 
    padding: 0px; 
}
